.container.contact__container {
    width: 100%;
    display: flex;
    justify-content: center; /* Center the container horizontally */
    align-items: center; /* Center the container vertically */
  }
  
  /* -------------- form css --------------- */
  form {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center; /* Center the form items horizontally */
  }
  
  @media screen and (max-width: 1024px) {
    .container.contact__container {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container.contact__container {
      width: var(--container-width-sm);
    }
  }
  
    
    input,textarea{
        width:100%;
        padding:1.5rem;
        background:transparent;
        resize: none ;
        border: 3px solid #03b4b4;
        border-radius: 1.5rem;
        color: white;
    }
    